// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(60, 60, 60, 1);
  &:hover {
    text-decoration: none;
    color: rgba(60, 60, 60, 0.8);
  }
}

.list-item {
  margin: 0 10px;
}
